@import "../core/reset";
@import "../core/variables";

.characters__detail--card {
  font-family: $principalFont;
  font-size: large;
  letter-spacing: rem(1.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  &__back {
    text-decoration: none;
    animation: animate__lightSpeedOutLeft;
    &:hover {
      transform: scale(1.3);
      color: $secondaryColor;
      transition: 0.3s;
    }
  }
  &__image {
    width: rem(250);
    border-radius: rem(3);
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--name {
      font-size: rem(40);
      text-decoration: solid;
      margin-bottom: rem(10);
    }
    &--specie {
      font-size: rem(24);
      color: $secondaryColor;
    }
    &--others {
      font-size: rem(24);
      color: $principalColor;
    }
  }
}
