@import "core/reset";
@import "./core/variables";

* {
  background-color: black;
  background-image: url(../images/space-background.jpg);
  color: white;
  font-family: $principalFont;
  font-size: large;
  letter-spacing: rem(1.2);
}

.header {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    width: rem(700);
    height: rem(400);
  }
}

.form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-bottom: rem(20);
  margin-inline: rem(20);
  .container--input {
    display: flex;
    flex-direction: column;
    .input__msg {
      padding-left: rem(5);
    }
    .input__search {
      border-color: $principalColor;
      padding-left: rem(15);
      padding-right: rem(250);
      padding-block: rem(10);
      margin-block: rem(10);
      &--errorMsg {
        color: $principalColor;
      }
    }
  }
  .container--select {
    display: flex;
    flex-direction: column;
    .select__msg {
      padding-left: rem(5);
    }
    .select__specie {
      border-color: $principalColor;
      padding-left: rem(15);
      padding-right: rem(60);
      padding-block: rem(10);
      margin-block: rem(10);
      cursor: pointer;
    }
  }
}

.container__characters {
  padding-inline: rem(90);
  padding-block: rem(30);
  .characters__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    justify-items: center;
    &--card {
      width: rem(200);
      text-decoration: none;
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      &__image {
        width: rem(190);
        height: rem(190);
        border-radius: rem(3);
        &:hover {
          transform: scale(1.02);
          box-shadow: $secondaryColor 0px 2px 4px 0px,
            $secondaryColor 0px 2px 16px 0px;
          transition: 0.5s;
        }
      }
      &__name {
        font-size: rem(20);
      }
      &__specie {
        font-size: rem(18);
        color: $secondaryColor;
      }
      &__status {
        font-size: rem(18);
        color: $principalColor;
      }
    }
  }
}
